* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background: hidden;
}

body {
  width: 100%;
  height: 100%;
}

.board-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
}
